{% extends 'base.html' %}

{% block content %}
<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search Items" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row">
{% for item in items %}
{% if item.id in my_favorite %}
<div class="col-sm-4 py-2">
        <div class="card h-100">
            <img class="card-img-top" height="55%" src="{{item.image.url}}" alt="Card image cap">
            <div class="card-body bg-light">
                <h3 class="card-title">{{item.name}}</h3>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-outline-dark">More</a>
                <button onclick="wishlist({{item.id}})" class="btn btn-outline-dark"><i id="star-{{item.id}}" class="fas fa-star {% if item.id in my_favorite %}text-warning{% endif %}"></i></button>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>

<script type="text/javascript">
function wishlist(item_id)
{
    let star_id = "#star-"+item_id
    $.ajax({
        type: "GET",
        url: "/item/"+item_id+"/fav/",
        success: function(data)
        {
            if(data.action === "favorite")
            {
                $(star_id).addClass("text-warning")
            }
            else
            {
                $(star_id).removeClass("text-warning")
            }
        },
        error: function()
        {
            console.log('error');
        },
    });
}


</script>
{% endblock content%}

